name: PR QA

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        java-version: [11, 17]

    name: Checkout and Build
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - name: JDK setup
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots install -DjacocoAgg
      - name: Run pre-commit tests
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files --verbose
      - name: Test with Maven
        if: (matrix.java-version == 8)
        run: mvn --batch-mode verify -DjacocoAgg
      - name: Package with Maven
        if: (matrix.java-version == 8)
        run: mvn --batch-mode package -DjacocoAgg
      - name: Test build package on Windows
        if: (matrix.os == 'windows-latest')
        run: ./odf-validator.bat --version
      - name: Test build package on Ubuntu
        if: (matrix.os == 'ubuntu-latest')
        run: ./odf-validator --version
